<h1 mat-dialog-title>{{ modoEditar ? 'Editar categoría' : 'Crear categoría' }}</h1>
<div mat-dialog-content *ngIf="formGroup" [formGroup]="formGroup">
  <mat-form-field class="form-field">
    <mat-label for="nombre">Nombre:</mat-label>
    <input formControlName="nombre" matInput type="text" id="nombre" name="nombre">
    <mat-error *ngIf="formGroup.controls['nombre'].errors">
      Debe indicar un nombre
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button (click)="cancelarEditar()" class="secundary-button">Cancelar</button>
    <button (click)="confirmarEditar()" cdkFocusInitial class="main-button">
      {{ modoEditar ? 'Guardar' : 'Crear' }}
    </button>
  </div>
</div>