<div class="loginRegister-container">
  <div class="loginRegister-container">
    <h2>{{ isLogin ? 'Iniciar sesión' : 'Registrar cuenta' }}</h2>
  
    <form [formGroup]="formGroup" (ngSubmit)="loginRegister()" class="form">
      <div *ngIf="registroExitoso || usuarioExistente" class="registro-exitoso">
        {{ registroExitoso ? '¡Registro exitoso! Por favor, inicia sesión.' : '¡Usuario ya existe! Por favor, inicia sesión o utiliza otro correo electrónico.' }}
      </div>
      <mat-form-field class="form-field" *ngIf="!isLogin">
        <input matInput type="text" formControlName="nombre" required placeholder="Nombre">
      </mat-form-field>
  
      <mat-form-field class="form-field" *ngIf="!isLogin">
        <input matInput type="text" formControlName="apellido" required placeholder="Apellido">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput type="email" formControlName="email" required placeholder="Correo electrónico">
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <input matInput type="password" formControlName="password" required placeholder="Contraseña">
      </mat-form-field>
  
      <button type="submit" class="login-button">{{ isLogin ? 'Iniciar sesión' : 'Registrarse' }}</button>
    </form>
  
    <div class="links">
      <div *ngIf="isLogin; else registerLink">
        <p>¿No tienes una cuenta? <a class="regisLogin-link" (click)="irRegister()">Regístrate aquí</a></p>
      </div>
      <ng-template #registerLink>
        <p>¿Ya tienes una cuenta? <a class="regisLogin-link" (click)="irLogin()">Inicia sesión</a></p>
      </ng-template>
      <a class="forgot-password">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
  